* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

/*------- Меню -------*/
header {
  display: flex;
  align-items: center;
  background-color: yellow;
  height: 40px;
}

.restart-game {
  width: 180px;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  margin: auto;
  text-align: center;
  background-color: rgb(38, 247, 10);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 6px;
  font-size: 16px;
  font-weight: 700;
}

.win-player {
  position: fixed;
  margin-left: 100px;
  font-size: 20px;
}

.game-account {
  position: absolute;
  right: 40px;
}

.far.fa-arrow-alt-circle-left {
  cursor: pointer;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 15px;
}

/* ------- Игровое поле ------- */
.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
}

.game-field {
  border-collapse: collapse;
}

.game-field td {
  position: relative;
  width: 60px;
  height: 60px;
  box-shadow: 1px 0 0 0 #000, 0 1px 0 0 #000, 1px 1px 0 0 #000,
    1px 0 0 0 #000 inset, 0 1px 0 0 #000 inset;
}

.circle {
  position: absolute;
  top: 0;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: draw 1s forwards;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

.cross {
  position: absolute;
  top: 0;
}

.first {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: draw 0.3s forwards;
}

.second {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: draw 0.3s 0.3s forwards;
}
