* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: yellow;
  height: 40px;
}

.restartGame {
  text-align: center;
  background-color: rgb(62, 199, 57);
  margin: 0 auto;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 180px;
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
}

.far.fa-arrow-alt-circle-left {
  cursor: pointer;
  font-size: 30px;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  margin-bottom: -50%;
  transform: translate(-50%, -50%);
}

.gameField {
  border-collapse: collapse;
}

.gameField td {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.circle {
  width: 100%;
  height: 100%;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: draw 1s forwards;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

.cross {
  width: 100%;
  height: 100%;
}

.first {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: draw 0.3s forwards;
}

.second {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: draw 0.3s 0.3s forwards;
}
